.about-card__img
  &.about-card__img--medal
    width: 62px
    height: 82px
  &.about-card__img--city
    width: 69px
    height: 69px
  &.about-card__img--person
    width: 64px
    height: 80px
    margin-bottom: -16px
  &.about-card__img--meat
    width: 80px
    height: 65px

.about-card__img-wrapper
  height: 82px
  display: flex
  align-items: flex-end

.about-card__txt
  text-align: center