.about__inner
  @extend %content-width

.grey-txt
  color: $grey
  font-size: 18px
  font-weight: 400
  line-height: 28px

.about__txt.grey-txt
  margin-left: auto
  margin-right: auto
  max-width: 600px

.about-card__img-wrapper
  display: flex
  width: 100%
  justify-content: center

.about__list
  display: flex
  margin-top: 65px

.about-card__txt
  margin-top: 27px

.about__col
  width: 25%

.about-card__img
  color: $blue
  width: auto
  max-width: 80px
  height: 100%
  max-height: 80px