<div class="about-card">
    <div class="about-card__img-wrapper">
        <svg class="about-card__img {{ classImg }}"><use xlink:href="images/svg-icons.svg#{{ icon }}"/></svg>
    </div>
    <p class="about-card__txt">
        {{ txt }}
    </p>
</div>