.btn
  display: inline-block
  text-align: center
  cursor: pointer
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  font-weight: 400
  padding: 0 30px
  text-decoration: none !important
  transition: all 0.3s ease
  font-size: 18px
  color: $brand
  min-width: 200px
  border: none
  &.btn--fluid
    width: 100%
  &.btn--primary
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3)
    border: 2px solid $brand
    background-color: $brand
    color: #fff
  &.btn--secondary
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3)
    border: 2px solid $brand
    background-color: #ffffff
    &:hover
      color: #fff
      background-color: $brand
  &.btn--std
    line-height: 55px
    min-width: 210px
  &.btn--std.btn--primary
    line-height: 51px
  &.btn--third
    background-color: #fff
    border: 2px solid transparent
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3)
    &:hover
      border-color: $brand

.page-hero__btn
  border: none !important