.form .preloader {position: relative; z-index: 10000000}
label.error {
    font-size: 11px;
    font-weight: bold;
    color: red;
}
.request-form__form.form label.error {color: white;}
.modal__form .mess {
    text-align: center;
    position: absolute;
    margin-top: -14%;
    width: 100%;
}

.modal__form, .request-form__form, .write_message {position: relative;}

.request-form__form .mess {
    position: absolute;
    top: -30px;
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 959px) {
    .request-form__form .mess {
        top: -20px;
    }
}

.write_message .mess {
    position: absolute;
    top: -26px;
    width: 100%;
    text-align: center;
}
.request-form.page-index__request-form label.error {
    position: absolute;
    top: 100%;
    padding-top: 10px;
    left: 0px;
}