.page-footer__inner
  @extend %content-width
  display: flex
  align-items: flex-start
  justify-content: space-around
  +respond-to(md)
    flex-direction: column-reverse

.page-footer
  padding: 35px 0 235px 0

.page-footer__logo-wrapper
  +respond-to(md)
    margin-top: 76px
    display: flex
    align-items: center
    justify-content: space-between
    width: 100% //wdwd

.page-footer__nav
  margin-top: 32px
  padding-left: 100px
  width: calc(100% - 170px)
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  +respond-to(xlg)
    display: block
    column-count: 2
    column-gap: 40px
    width: 100%
    margin-top: 0
  +respond-to(md)
    padding-left: 0

.page-footer__nav-link
  color: #fff
  display: block
  text-decoration: none
  font-size: 16px
  &:hover
    color: $brand
  +respond-to(xlg)
    &:not(:last-child)
      margin-bottom: 20px

.page-footer__copyright
  color: #6f6f6f
  font-family: $font-second
  font-size: 16px
  font-weight: 400
  line-height: 58px
  margin-top: 22px

.page-footer
  background-color: #3c0015
  position: relative
  z-index: 0
  &:before
    content: ''
    opacity: 0.4
    position: absolute
    top: 0
    z-index: -1
    bottom: 0
    left: 0
    right: 0
    background-image: url(../images/footer-bg.png)
    background-repeat: repeat-x
    -webkit-background-size: contain
    background-size: contain
    background-position: center bottom

.page-footer__logo
  width: 170px
  height: 80px
  color: #fff
  +respond-to(md)
    width: 100px
    height: 47px