.gallery
  padding: 50px 0 95px 0
  background-color: #f4f4f4

.gallery__inner
  @extend %content-width

.gallery__title-wrapper.section-title-wrapper
  +min-respond-to(dk)
    margin-left: -60px

.gallery__section-contain.section-contain
  max-width: 970px
  width: 100%
  margin-left: auto
  margin-right: auto

.gallery-slider
  height: 505px
  position: relative
  +respond-to(lg)
    height: 350px
  +respond-to(sm)
    height: 217px

.gallery-slider__item-label
  color: #000000
  font-family: $font-second
  font-size: 20px
  font-weight: 700
  line-height: 58px
  position: absolute
  display: flex
  top: 69px
  background-color: #fff
  height: 60px
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2)
  +respond-to(md)
    font-size: 14px


.gallery-slider__item-label-inner
  position: relative
  display: flex
  align-items: center
  padding-left: 50px
  padding-right: 50px
  justify-content: center
  width: 100%
  height: 100%
  &:before
    content: ""
    position: absolute
    right: 0
    transform: translateX(100%)
    border-right: 0
    bottom: 0
    border-right: 30px solid transparent
    border-top: 30px solid #fff
    border-bottom: 30px solid transparent
    border-left: 30px solid #fff
  +respond-to(md)
    padding-left: 35px
    padding-right: 35px

.gallery-slider__prev, .gallery-slider__next
  width: 80px
  height: 80px
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2)
  background-color: $brand
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  bottom: 97px
  z-index: 20
  cursor: pointer
  transition: background 0.2s ease 0s
  &:hover
    background-color: #fff
  +respond-to(md)
    width: 65px
    height: 65px
  +respond-to(sm)
    width: 44px
    height: 44px


.gallery-slider__prev
  left: 0
  padding-left: 10px
  transform: translate(-50px)
  &:before
    content: ''
    +chevron(20px, 2px, l, #fff)
    transform: rotate(45deg)
  &:after
    content: ''
    +chevron(20px, 2px, l, #fff)
    transform: rotate(45deg)
    margin-left: -12px
  &:hover
    &:before, &:after
      border-bottom-color: $brand
      border-left-color: $brand
  @media only screen and (max-width: 1330px)
    transform: translate(-10px)


.gallery-slider__next
  right: 0
  padding-right: 10px
  transform: translate(50px)
  &:before
    content: ''
    +chevron(20px, 2px, r, #fff)
    transform: rotate(45deg)
    margin-right: -12px
  &:after
    content: ''
    +chevron(20px, 2px, r, #fff)
    transform: rotate(45deg)
  &:hover
    &:before, &:after
      border-top-color: $brand
      border-right-color: $brand
  @media only screen and (max-width: 1330px)
    transform: translate(10px)

.gallery-slider__img
  width: 100%
  height: 505px
  +respond-to(lg)
    height: 350px
  +respond-to(sm)
    height: 217px
  img
    width: 100%
    height: 100%
    object-fit: cover
