.page-hero__inner
  @extend %content-width
  position: relative
  z-index: 5
  padding-top: 136px
  +respond-to(dk)
    padding-top: 105px
    padding-bottom: 105px

.page-hero
  width: 100%
  position: relative
  padding-top: 90px
  &:before
    z-index: 1
    content: ''
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-color: rgba(4,8,35,0.4) !important
  +min-respond-to(dk)
    margin-bottom: -308px
    min-height: calc(100vh - 50px)
  +respond-to(md)
    background-image: url(../images/hero-bg.jpg)
    background-repeat: no-repeat
    -webkit-background-size: cover
    background-size: cover
    background-position: center center
    padding-top: 70px


.page-hero__btn-img
  width: 36px
  height: 18px
  position: absolute
  right: -17px
  top: 50%
  transform: translateY(-50%)

.btn.btn--primary.page-hero__btn
  margin-top: 97px
  min-width: 245px
  transform: perspective(1px) translateZ(0)
  box-shadow: 0 0 1px rgba(0, 0, 0, 0)
  position: relative
  -webkit-transition-property: color
  transition-property: color
  -webkit-transition-duration: 0.3s
  transition-duration: 0.3s
  background-color: #fff
  &:hover
    color: $brand
    &:before
      transform: scaleX(0)
  &:before
    content: ''
    position: absolute
    z-index: -1
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: $brand
    transform: scaleX(1)
    transform-origin: 50%
    transition-property: transform
    transition-duration: 0.3s
    transition-timing-function: ease-out



.page-title
  font-family: $font-second
  color: #fff
  font-size: 46px
  font-weight: 700
  text-transform: uppercase
  +respond-to(lg)
    span
      font-size: 32px
  +respond-to(sm)
    span:first-child
      display: none
    span
      width: 100%
      padding-top: 8px
      display: block

.page-hero__scroll
  width: 81px
  height: 81px
  z-index: 5
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3)
  background-color: #fff
  border-radius: 100%
  position: absolute
  bottom: 0
  left: 50%
  transform: translate(-50%, 50%)
  display: flex
  align-items: center
  justify-content: center

.page-hero__icon-mouse
  width: 26px
  height: 51px

.page-hero__subtitle
  font-family: $font-second
  font-size: 26px
  font-weight: 400
  line-height: 36px
  color: #fff
  margin-top: 16px
  max-width: 595px
  +respond-to(md)
    font-size: 20px
    width: 100%
    max-width: 445px
    display: block

.page-hero__bg-video, .page-hero__video
  position: absolute
  right: 0
  bottom: 0
  min-width: 100%
  min-height: 100%
  width: auto
  height: auto
  +respond-to(md)
    display: none

.page-eggs-wrapper
  left: 0
  width: 100%
  +respond-to(dk)
    background-image: url(../images/advantages-bg.jpg)
    -webkit-background-size: 50%
    background-size: 50%
    background-repeat: repeat
    background-position: center center
    position: relative
    &:before
      content: ''
      position: absolute
      top: 0
      bottom: 0
      right: 0
      left: 0
      background-color: rgba(255,255,255,0.85)

.page-eggs__wrapper-inner
  @extend %content-width
  display: flex
  justify-content: flex-end

.page-eggs
  width: 400px
  //padding: 54px 35px 54px 35px
  padding: 62px 33px 55px 44px
  position: relative
  +min-respond-to(dk)
    z-index: 10
    background-color: #fff
    background-image: url(../images/advantages-bg.jpg)
    -webkit-background-size: cover
    background-size: cover
    background-repeat: repeat
    background-position: center center
    box-shadow: 0 -3px 20px rgba(152,154,171,0.3)
    &:before
      content: ''
      position: absolute
      top: 0
      z-index: -1
      bottom: 0
      right: 0
      left: 0
      background-color: rgba(255,255,255,0.85)
  +respond-to(dk)
    padding: 40px 0 40px 0
    width: 100%
    display: flex
    align-items: center
    margin-left: -30px
  +respond-to(md)
    margin-left: 0
    flex-wrap: wrap

.page-eggs__item
  display: flex
  align-items: center
  &:first-child .page-eggs__icon-wrapper:before
    right: 0
    top: -50%
    transform: translateY(50%)
  &:nth-child(2) .page-eggs__icon-wrapper:before
    left: 0
    bottom: -50%
    transform: translateY(-50%)
  &:last-child .page-eggs__icon-wrapper:before
    right: 0
    bottom: -50%
    transform: translateY(-50%)
  +min-respond-to(dk)
    &:not(:first-child)
      margin-top: 28px
  +respond-to(dk)
    width: 33.3333%
    padding-left: 30px
  +respond-to(md)
    width: 100%
    display: flex
    padding-left: 0
    flex-direction: column
    align-items: center
    &:not(:first-child)
      margin-top: 34px



.page-eggs__icon-wrapper
  width: 78px
  height: 77px
  display: flex
  align-items: center
  justify-content: center
  position: relative
  &:before
    content: ''
    z-index: 11
    width: 52px
    height: 52px
    background-color: $brand
    opacity: 0.1
    position: absolute


.page-eggs__txt
  color: #0c0c0c
  font-family: $font-second
  font-size: 18px
  font-weight: 400
  line-height: 1.2em
  margin-left: 35px
  +min-respond-to(dk)
    white-space: nowrap
  +respond-to(lg)
    margin-left: 20px
    font-size: 16px
  +respond-to(md)
    margin-left: 0
    margin-top: 20px

.page-eggs__icon
  color: $blue
  &.page-eggs__icon--room
    width: 76px
    height: 52px
  &.page-eggs__icon--puzzle
    width: 59px
    height: 61px
  &.page-eggs__icon--patheon
    width: 57px
    height: 60px

