.projects__inner
  @extend %content-width

.projects
  padding: 0 0 100px 0
  overflow: hidden

.projects__title-wrapper.section-title-wrapper
  +min-respond-to(dk)
    margin-left: -60px
  
.projects-list.owl-carousel
  padding-bottom: 10px
  overflow: hidden
  width: auto
  width: initial
  .owl-stage-outer
    overflow: visible !important

.projects-list
  +respond-to(xlg)
    display: flex
    flex-wrap: wrap
    margin-left: -30px
    margin-top: -30px

.projects-card.projects__project-card
  +respond-to(xlg)
    width: 50%
    padding-left: 30px
    padding-top: 30px
  +respond-to(md)
    width: 100%
    .projects-card__inner
      max-width: 500px
      width: 100%
      margin-left: auto
      margin-right: auto