<div class="projects-card {{ classes }}">
    <div class="projects-card__inner">
        <div class="projects-card__img">
            <img src="{{ img }}" alt="{{ imgAlt }}">
            <div class="projects-card__label">
                <svg class="projects-card__label-icon"><use xlink:href="images/svg-icons.svg#mortgage"/></svg>
                <p class="projects-card__label-txt">Ипотека от 5,75%  </p>
            </div>
        </div>
        <div class="projects-card__caption">
            <p class="projects-card__title">{{ title }}</p>
            <p class="projects-card__area">{{ area }}</p>
            <p class="project-card__txt">{{ txt }}</p>
            <a href="#" class="btn btn--primary btn--std project-card__btn">Подробнее</a>
        </div>
    </div>
</div>