.projects-card__img
  height: 295px
  width: 100%
  margin-bottom: -65px
  position: relative
  z-index: 0
  &:before
    content: ''
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    background-color: rgba(0,0,0,0.2)
  img
    object-fit: cover
    width: 100%
    height: 100%
  +respond-to(lg)
    margin-bottom: -49px

.projects-card__caption
  padding: 0 23px 35px 23px

.projects-card__label-icon
  color: $brand
  width: 42px
  height: 42px

.projects-card__label-txt
  display: none
  margin-left: 13px

.projects-card__label
  right: 0
  top: 20px
  height: 58px
  padding-left: 20px
  position: absolute
  padding-right: 23px
  display: flex
  align-items: center

.projects-card__inner
  transition: all 0.2s ease 0s
  width: 100%
  &:hover
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2)
    .project-card__btn
      background-color: #fff
      color: $brand
    .projects-card__label-txt
      display: block
    .projects-card__label
      background-color: rgba(255,255,255,0.8)


.project-card__btn
  margin-left: -23px
  margin-top: 40px

.project-card__txt
  color: $grey
  font-family: $font-second
  font-size: 20px
  font-weight: 300
  line-height: 28px
  +respond-to(md)
    font-size: 15px

.projects-card__area
  color: $blue
  font-family: $font-second
  font-size: 26px
  font-weight: 400
  line-height: 58px
  +respond-to(md)
    font-size: 20px

.projects-card__title
  color: #010101
  margin-left: -23px
  font-family: $font-second
  font-size: 34px
  font-weight: 400
  background-color: #fff
  line-height: 58px
  height: 65px
  padding: 0 23px 0 23px
  position: relative
  z-index: 5
  display: inline-flex
  align-items: center
  justify-content: center
  +respond-to(md)
    font-size: 26px
    height: 49px
