.menu
  position: fixed
  z-index: 9999
  top: 0
  height: 100%
  bottom: 0
  right: -415px
  width: 100%
  max-width: 415px
  overflow-x: hidden
  -webkit-overflow-scrolling: touch
  background-color: #a0062e
  transition: transform 0.5s ease 0s
  padding: 100px 80px 100px 80px
  display: flex
  flex-direction: column
  justify-content: space-between
  &.menu--active
    transform: translateX(-415px)

.menu__item
  &:not(:last-child)
    margin-bottom: 18px


.menu__link
  color: #ffffff
  font-family: $font-second
  font-size: 26px
  font-weight: 700
  line-height: 1.2em
  display: inline-block
  text-transform: uppercase
  text-decoration: none
  position: relative
  transition: opacity 0.2s ease 0s
  &:before
    content: ''
    height: 5px
    background-color: $blue
    position: absolute
    left: -5px
    right: -5px
    top: 50%
    opacity: 0
    transform: translateY(-50%)
  &:hover:before
    opacity: 1

.btn--third.menu__btn
  &:hover
    background-color: $brand
    color: #fff
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3)
    border-color: $brand

.menu-overlay
  position: fixed
  z-index: 9001
  display: none
  overflow-y: auto
  margin: 0
  padding: 0
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(0,0,0,0.5)

