<div class="menu-wrapper">
    <div class="menu-overlay" id="menu-overlay"></div>
    <div class="menu" id="menu">
        <div class="menu__list">
            <div class="menu__item">
                <a href="#" class="menu__link">ГЛАВНАЯ</a>
            </div>
            <div class="menu__item">
                <a href="#" class="menu__link">НАШИ ПРОЕКТЫ</a>
            </div>
            <div class="menu__item">
                <a href="#" class="menu__link">АКЦИИ</a>
            </div>
            <div class="menu__item">
                <a href="#" class="menu__link">ВИДЕО-ПРЕЗЕНТАЦИЯ</a>
            </div>
            <div class="menu__item">
                <a href="#" class="menu__link">ГАЛЕРЕЯ</a>
            </div>
            <div class="menu__item">
                <a href="#" class="menu__link">РАСПОЛОЖЕНИЕ</a>
            </div>
            <div class="menu__item">
                <a href="#" class="menu__link">URBAN ИПОТЕКА</a>
            </div>
            <div class="menu__item">
                <a href="#" class="menu__link">О НАС</a>
            </div>
            <div class="menu__item">
                <a href="#" class="menu__link">НОВОСТИ</a>
            </div>
        </div>
        <span class="btn btn--third btn--std menu__btn">Подобрать квартиру</span>
    </div>
</div>