.callback__overlay
  position: fixed
  z-index: 100
  display: none
  overflow-y: auto
  margin: 0
  padding: 0
  top: 0
  left: 0 //wdw
  right: 0
  bottom: 0
  background-color: rgba(0,0,0,0.5)

.callback
  font-family: 'Roboto', sans-serif
  z-index: 200
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0
  display: none
  &.callback--active
    display: block

.callback__window
  position: fixed
  z-index: 100
  top: 0
  height: 100%
  bottom: 0
  right: -415px
  width: 100%
  max-width: 415px
  overflow-x: hidden
  -webkit-overflow-scrolling: touch
  background-color: #fff
  display: flex
  font-size: 14px



.callback__window-inner
  position: relative
  width: 100%
  max-width: 280px
  margin-left: auto
  margin-right: auto
  height: 100%
  min-height: 630px
  box-sizing: border-box

.callback__window-close
  display: flex
  align-items: flex-end
  text-decoration: none

.callback__close-text
  line-height: 20px
  width: 57px
  height: 20px
  color: #8e929b
  font-size: 14px
  font-weight: 400
  margin-right: 7px
  display: inline-block
  vertical-align: middle

.callback__window_close
  position: absolute
  top: 14px
  right: 0
  text-decoration: none

.callback__toggle_icon
  display: block
  position: absolute
  top: 50%
  left: 50%
  width: 32px
  height: 32px
  margin-left: -16px
  margin-top: -16px
  color: #fff
  -webkit-animation: spin 2.5s ease-in-out infinite
  -moz-animation: spin 2.5s ease-in-out infinite
  animation: spin 2.5s ease-in-out infinite


.callback__heading
  color: #1e2534
  font-size: 18px
  font-weight: 400
  line-height: 25px
  text-align: left

.callback__form_field:not(:first-child)
  margin-top: 20px

.callback__form
  position: absolute
  top: 45%
  width: 100%
  z-index: 220
  max-width: 280px
  transform: translateY(-50%) //dw

.callback__window-inner
  position: relative
  width: 100%
  max-width: 280px
  margin-left: auto
  margin-right: auto
  height: 100%
  min-height: 630px
  box-sizing: border-box

.callback__form_personal_data
  color: #999da5
  font-size: 14px
  position: absolute
  bottom: 20px
  width: 100%
  box-sizing: border-box
  line-height: 15px

.callback__form_field input
  outline: 0
  box-sizing: border-box
  width: 100%
  border-radius: 5px
  height: 50px
  padding: 0 20px
  font-size: 16px
  border: 2px solid #c2c6cb
  font-weight: 400


.callback__toggle_button
  position: fixed
  z-index: 9002
  right: 290px
  bottom: 80px
  display: block
  width: 56px
  height: 56px
  background: #63c741
  border-radius: 50%
  -webkit-box-shadow: 0 0 0 6px rgba(107, 216, 96, 0.5)
  -moz-box-shadow: 0 0 0 6px rgba(107, 216, 96, 0.5)
  box-shadow: 0 0 0 6px rgba(107, 216, 96, 0.5)
  &:before
    content: ''
    -webkit-animation: pulse 2.5s ease-in-out infinite
    -moz-animation: pulse 2.5s ease-in-out infinite
    animation: pulse 2.5s ease-in-out infinite
  &:hover
    background: #71cf50

  &.callback__toggle_button--close
    -webkit-animation: none
    -moz-animation: none
    animation: none
    border: 3px solid #fff
    box-shadow: none
    background-color: transparent
    background-position: center center
    -webkit-background-size: 20px
    background-size: 20px
    background-repeat: no-repeat
    .callback__toggle_icon
      opacity: 0


@media (min-width: 768px)
  .callback.callback--active
    .callback__window
      transform: translateX(-415px)
    .callback__overlay
      display: block

