<div class="callback">
    <div class="callback__overlay"></div>
    <div class="callback__window">
        <div class="callback__window-inner">
            <a href="javascript:" class="callback__window-close">
                <p class="callback__close-text">Закрыть</p>
                <svg class="callback__window_close_icon" width="17px" height="17px">
                    <g stroke-width="2" stroke="#ccc">
                        <path d="M1,1 L16,16"></path>
                        <path d="M16,1 L1,16"></path>
                    </g>
                </svg>
            </a>
            <form class="callback__form">
                <fieldset class="callback__form_fieldset callback__form_fieldset-active">
                    <div class="callback__heading callback__heading-welcome"><p>Нужна консультация?</p>
                    </div>
                    <p class="callback__sub">Оставьте телефон, и мы вам перезвоним</p>
                    <div class="callback__form_field callback__form_field_text callback__form_field_text--phone">
                        <input name="phone" placeholder="+7 (___) ___-__-__" autocorrect="off" autocomplete="off"
                               type="tel">
                    </div>
                    <div class="callback__form_field callback__form_field_select callback__form_field_select_time">
                        <label class="callback__form__abs-label">Когда перезвонить?</label>
                        <div class="js-selectize-container selectize selectize--large">
                            <div class="selectize__inner">
                                <select class="js-callback-time is-hidden" name="time">
                                    <option value="09:00">09:00</option>
                                    <option value="09:30">09:30</option>
                                    <option value="10:00">10:00</option>
                                    <option value="10:30">10:30</option>
                                    <option value="11:00" selected="selected">11:00</option>
                                    <option value="11:30">11:30</option>
                                    <option value="12:00">12:00</option>
                                    <option value="12:30">12:30</option>
                                    <option value="13:00">13:00</option>
                                    <option value="13:30">13:30</option>
                                    <option value="14:00">14:00</option>
                                    <option value="14:30">14:30</option>
                                    <option value="15:00">15:00</option>
                                    <option value="15:30">15:30</option>
                                    <option value="16:00">16:00</option>
                                    <option value="16:30">16:30</option>
                                    <option value="17:00">17:00</option>
                                    <option value="17:30">17:30</option>
                                    <option value="18:00">18:00</option>
                                    <option value="18:30">18:30</option>
                                    <option value="19:00">19:00</option>
                                    <option value="19:30">19:30</option>
                                    <option value="20:00">20:00</option>
                                    <option value="20:30">20:30</option>
                                </select>
                            </div>
                            {#<div class="callback__form_field callback__form_error">#}
                            {#<p>Не удалось отправить запрос, попробуйте ещё раз</p>#}
                            {#</div>#}
                            <div class="callback__form_field callback__form_field_button">
                                <button class="js-callback-submit-btn callback__form_button_submit"
                                        type="submit">
                                    <span class="default">Позвоните мне!</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
                {#<fieldset class="callback__form_fieldset callback__form_fieldset-sent">#}
                    {#<div class="callback__heading callback__heading-thanks">#}
                    {#<p>Спасибо!</p>#}
                    {#<p class="callback__sent_message callback__sent_message_soon">Мы перезвоним Вам<br>в ближайшее#}
                    {#время.</p>#}
                    {#<p class="callback__sent_message callback__sent_message_abstract">Мы Вам перезвоним.</p>#}
                    {#</div>#}
                    {#<div class="callback__form_field callback__form_field_button">#}
                        {#<button class="callback__form_button_finish" type="reset">Вернуться на сайт</button>#}
                    {#</div>#}
                {#</fieldset>#}
            </form>
            <p class="callback__form_field callback__form_personal_data">Нажимая кнопку «Позвоните мне», вы
                подтверждаете свое согласие с <a href="//help.gdeetotdom.ru/156-politika-konfidentsialnosti/"
                                                 target="_blank">Политикой конфиденциальности</a></p>
        </div>
    </div>
</div>
