.callback-inline__inner
  @extend %content-width

.callback-inline
  padding: 45px 0 97px 0
  background-image: url(../images/connection-bg.jpg)
  background-repeat: no-repeat
  -webkit-background-size: cover
  background-size: cover
  position: relative
  z-index: 0
  &:before
    content: ''
    z-index: -1
    background-color: rgba(255, 255, 255, 0.5)
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0

.callback-inline-form__list
  margin-bottom: 20px

.callback-inline__callback-inline-form
  position: relative
  z-index: 10
  width: 100%
  max-width: 630px
  margin-left: auto
  margin-right: auto
  display: block
  padding: 60px 140px 60px 140px
  background-color: rgba(255, 255, 255, 0.00001)