<div class="stocks-card {{ classes }}">
        <div class="stocks-card__img">
            <img src="{{ img }}" alt="">
        </div>
        <div class="stocks-card__caption">
            <p class="stocks-card__title">{{ title }}</p>
            <p class="stocks-card__txt">{{ txt }}</p>
            <p class="stocks-card__date">
                {{ date }}
                <svg class="stocks-card__icon-calendar">
                    <use xlink:href="images/svg-icons.svg#calendar"/>
                </svg>
            </p>
        </div>
</div>