.stocks__inner
  @extend %content-width

.stocks__title-wrapper.section-title-wrapper
  +min-respond-to(dk)
    padding-left: 32px

.stocks
  padding: 30px 0 50px 0

.stocks__list
  display: flex
  flex-wrap: wrap
  margin-left: -30px
  margin-top: -30px
  +respond-to(md)
    flex-wrap: wrap

.stocks__col
  padding-left: 30px
  margin-top: -30px
  padding-top: 30px
  width: 50%
  display: flex
  flex-direction: column
  &:first-child
    align-items: flex-end
  &:last-child
    align-items: flex-start
  +respond-to(md)
    width: 100%