
.stocks-card__caption
  background-color: #fff
  position: relative
  z-index: 5
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2)
  transition: transform 0.2s ease 0s
  padding: 30px 30px 15px 38px
  display: flex
  flex-direction: column
  width: 100%
  +respond-to(md)
    padding: 17px 10px 17px 10px

+min-respond-to(dk)
  .stocks-card--1
    &:hover
      .stocks-card__caption
        transform: translateY(0)
    .stocks-card__caption
      transform: translateY(100%)

  .stocks-card--4
    &:hover
      .stocks-card__caption
        transform: translateY(0)
    .stocks-card__caption
      transform: translateY(100%)

  .stocks-card--2
    &:hover
      .stocks-card__caption
        transform: translateY(0)
    .stocks-card__caption
      transform: translateY(-100%)

  .stocks-card--3
    &:hover
      .stocks-card__caption
        transform: scale(1)
    .stocks-card__caption
      transform: scale(0)
      margin-bottom: auto

  .stocks-card--5
    &:hover
      .stocks-card__caption
        transform: translateX(0)
    .stocks-card__caption
      transform: translateX(370px)

.stocks-card
  position: relative
  display: flex
  margin-top: 30px
  width: 100%
  overflow: hidden
  +respond-to(md)
    flex-direction: column
    &:not(:first-child)
      margin-top: 40px
    &.stocks-card--1, &.stocks-card--2, &.stocks-card--3, &.stocks-card--4, &.stocks-card--5
      max-width: 100%
      height: auto
      height: initial
      .stocks-card__caption
        width: 100%
        height: 185px
        margin-top: auto
        margin-bottom: 0

.stocks-card--1
  height: 300px
  .stocks-card__caption
    height: 100%
    width: 305px


.stocks-card--4
  height: 460px
  .stocks-card__caption
    height: 220px
    margin-top: auto

.stocks-card--2
  height: 475px
  width: 100%
  max-width: 470px
  .stocks-card__caption
    height: 235px
    margin-bottom: auto

.stocks-card--3
  height: 308px
  width: 100%
  max-width: 371px
  .stocks-card__caption
    height: 100%
    margin-bottom: auto

.stocks-card--5
  height: 370px
  width: 100%
  max-width: 470px
  +min-respond-to(dk)
    .stocks-card__txt
      margin-top: 55px
      letter-spacing: -0.3px
  .stocks-card__caption
    height: 100%
    width: 320px
    margin-left: auto

.stocks-card__img
  +min-respond-to(md)
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
  img
    width: 100%
    height: 100%
    object-fit: cover
  +respond-to(md)
    height: 300px

.stocks-card__title
  color: #010101
  font-family: $font-second
  font-size: 34px
  font-weight: 400
  display: inline-flex
  align-items: center
  line-height: 58px
  &:before
    content: ''
    height: 38px
    display: inline-block
    width: 5px
    background-color: $brand
    margin-right: 7px
  +respond-to(md)
    font-size: 26px
    &:before
      height: 33px

.stocks-card__date
  margin-top: auto
  margin-left: auto
  display: inline-flex
  align-items: center
  color: $grey
  font-family: $font-second
  font-size: 18px
  font-weight: 400
  line-height: 58px
  +respond-to(md)
    font-size: 14px

.stocks-card__icon-calendar
  color: $blue
  width: 29px
  height: 26px
  margin-left: 10px

.stocks-card__txt
  color: #0c0c0c
  font-family: $font-second
  font-size: 18px
  font-weight: 400
  line-height: 28px
  margin-top: 23px
  +respond-to(md)
    font-size: 14px
    margin-top: 16px