.location
  padding: 33px 0 95px 0
  background-image: url(../images/topography.jpg)
  background-repeat: repeat
  -webkit-background-size: contain
  background-size: contain
  background-position: center center

.location__title-wrapper.section-title-wrapper
  +min-respond-to(dk)
    padding-left: 35px

.location__inner
  @extend %content-width

.location-map
  height: 457px