.page-header
  overflow-x: hidden

.logo-panel__icon-logo
  width: 85px
  height: 40px
  color: $brand
  +respond-to(md)
    width: 63px
    height: 30px

.logo-panel
  box-shadow: 0 -3px 20px rgba(152,154,171,.3)
  width: 100%
  z-index: 100
  height: 90px
  display: flex
  align-items: center
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  background-color: #fff
  position: fixed
  top: 0
  +respond-to(md)
    height: 70px

.logo-panel__title
  font-family: $font-second
  color: #d7d7d7
  font-size: 20px
  font-weight: 400
  margin-left: 45px
  +respond-to(dk)
    display: none

.logo-panel__phone-icon
  display: inline-block
  vertical-align: middle
  background: url(../images/svg-icons/phone.svg) left top no-repeat
  -webkit-background-size: cover
  background-size: cover
  width: 27px
  height: 27px
  +respond-to(md)
    width: 16px
    height: 16px

.logo-panel__phone
  font-size: 24px
  font-weight: 300
  color: $text-primary
  text-decoration: none
  margin-left: auto
  +respond-to(lg)
    font-size: 18px
  +respond-to(md)
    font-size: 15px

.burger
  right: 0
  width: 90px
  height: 90px
  background-color: #a3032d
  display: flex
  margin-left: 100px
  flex-direction: column
  align-items: flex-end
  padding: 32px 23px 32px 23px
  &:hover
    cursor: pointer
    .burger-itm
      width: 43px
  +respond-to(lg)
    margin-left: 40px
  +respond-to(md)
    padding: 25px 18px 25px 18px
    width: 70px
    height: 70px
    &:hover
      .burger-itm
        width: 34px

.burger-itm
  flex-shrink: 0
  width: 43px
  transition: all 0.2s ease 0s
  height: 5px
  background-color: #fff
  display: block
  &:nth-child(2)
    width: 34px
  &:last-child
    width: 25px
  &:not(:first-child)
    margin-top: 6px
  +respond-to(md)
    width: 34px
    &:nth-child(2)
      width: 27px
    &:last-child
      width: 20px
    &:not(:first-child)
      margin-top: 4px


.logo-panel__callback-btn
  margin-left: 40px
  +respond-to(md)
    display: none

.logo-panel__left, .logo-panel__right
  display: flex
  align-items: center


.logo-panel__inner
  @extend %content-width
  display: flex
  justify-content: space-between
  width: 100%
  position: relative
  align-items: center