*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

p
  line-height: 1.2em

a, img, button
  outline: none


body
  font-family: $font-base
  font-weight: 400
  color: $text-primary

.site-wrapper
  min-width: 300px
  position: relative
  //overflow-x: hidden !important
  //overflow-y: auto !important


%content-width
  max-width: 1170px
  width: auto
  margin-left: auto
  margin-right: auto
  padding-left: 20px
  padding-right: 20px
  -webkit-box-sizing: content-box
  -moz-box-sizing: content-box
  box-sizing: content-box
  +respond-to(md)
    padding-left: 15px
    padding-right: 15px