//Base
$text-primary-color: #000

//Viewports
$small: 480px
$medium: 768px
$large: 960px
$desktop: 1024px
$xlarge: 1220px

$b-small: 479px
$b-medium: 767px
$b-large: 959px
$b-xlarge: 1219px
$b-desktop: 1023px

//Colors
$black: #353953
$blue: #2c529b
$red: #d5004b
$grey: #a7a7a7

$brand: $red
$text-primary: $black

//_______________________________________________________
//FONTS

$font-base: 'Roboto', sans-serif

$font-second: 'Roboto Condensed', sans-serif

@-webkit-keyframes fade-in
  from
    display: block
    opacity: 0
  to
    opacity: 1

@-moz-keyframes fade-in
  from
    display: block
    opacity: 0
  to
    opacity: 1

@-ms-keyframes fade-in
  from
    display: block
    opacity: 0
  to
    opacity: 1

//-webkit-animation: fade-in .3s linear 1
//-moz-animation: fade-in .3s linear 1
//-ms-animation: fade-in .3s linear 1

