.mortgage
  padding: 33px 0 100px 0

.mortgage__title-wrapper.section-title-wrapper
  +min-respond-to(dk)
    padding-left: 125px

.mortgage__inner
  @extend %content-width

.mortgage__callback-block
  margin-left: auto
  margin-right: auto
  max-width: 630px

.mortgage__txt
  color: $grey
  font-size: 18px
  font-weight: 400
  letter-spacing: 0.1px
  line-height: 1.57em

.mortgage__callback-btn-wrapper
  text-align: right
  margin-top: 35px
  +min-respond-to(dk)
    padding-right: 37px

.mortgage__table
  margin-top: 45px
  .table-row
    //padding: 25px 70px 25px 70px
    &:nth-child(odd)
      background-color: #f4f4f4
  .table-cell
    padding-top: 25px
    padding-bottom: 25px
    width: 20%
    &:last-child
      padding-right: 70px
    &:first-child
      padding-left: 70px


.mortgage__table-title
  color: $grey
  font-size: 14px
  font-weight: 400
  line-height: 36px

.mortgage__table-val
  color: $blue
  font-size: 26px
  font-weight: 700
  line-height: 36px