.video-presentation
  padding: 50px 0 50px 0

.video-presentation__inner
  @extend %content-width

.video-presentation__title-wrapper.section-title-wrapper
  +min-respond-to(dk)
    padding-left: 125px

.video-presentation__video
  height: 460px
  width: 100%

.video-presentation__tabs
  width: 400px

.video-presentation__contain
  width: calc(100% - 400px)

.video-presentation__tabs-wrapper
  display: flex

.video-presentation__tab-btn
  height: 80px
  width: 100%
  font-size: 26px
  display: flex
  align-items: center
  justify-content: center

.video-presentation__contain-item
  display: none
  &.js-content-item-active
    display: block

.video-presentation__tabs-item
  color: $grey
  font-family: $font-second
  font-size: 26px
  font-weight: 400
  line-height: 58px
  height: 95px
  display: flex
  align-items: center
  justify-content: flex-start
  padding-left: 45px
  border-left: 15px solid transparent
  &:hover
    cursor: pointer
  &.js-tabs-item--active
    border-left-color: $brand
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2)
    background-color: #fff
    font-size: 34px
    color: $blue