<div class="{{ classes }}__title-wrapper section-title-wrapper">
    <div class="{{ classes }}__title-wrapper section-num-wrapper">
        <span class="section-num">{{ num }}</span>
        <svg class="section-num-icon">
            <use xlink:href="images/svg-icons.svg#slesh"/>
        </svg>
    </div>
    <h2 class="{{ classes }}__title section-title">{{ title }}</h2>
</div>