.section-num
  color: #8eafcd
  font-size: 60px
  font-weight: 700
  line-height: 1em
  margin-bottom: auto
  margin-right: auto
  +respond-to(lg)
    font-size: 50px
  +respond-to(md)
    font-size: 28px

.section-num-icon
  width: 52px
  height: 72px
  color: $brand
  //position: relative
  //right: 10px
  //top: -3px
  flex-shrink: 0
  margin-top: auto
  margin-left: auto
  +respond-to(md)
    width: 24px
    height: 33px

.section-contain
  margin-top: 59px

.section-title-wrapper
  display: flex
  align-items: flex-end

.section-title
  font-size: 46px
  font-weight: 700
  text-transform: uppercase
  font-family: $font-second
  +respond-to(lg)
    font-size: 30px
  +respond-to(md)
    font-size: 22px

.section-num-wrapper
  width: 110px
  height: 100px
  display: flex
  justify-content: space-between
  margin-right: 36px
  +respond-to(md)
    width: 50px
    height: 41px
    margin-right: 16px