{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная{% endblock %}
{% block content %}

    <main class="page-main page-index">
        <div class="page-hero">
            <div class="page-hero__bg-video">
                <video autoplay="" loop="true" muted="true" id="bgvideo" class="page-hero__video">
                    <source src="images/video1.mp4" type="video/mp4">
                </video>
            </div>
            <div class="page-hero__inner">
                <div class="page-hero__title-wrapper">
                    <h1 class="page-title">URBAN GROUP <span>-</span> <span>города для жизни</span></h1>
                    <p class="page-hero__subtitle">Квартиры от застройщика Urban Group в уникальных
                        жилых комплексах ближайшего Подмосковья. </p>
                    <span class="btn btn--primary btn--std page-hero__btn">
                        Подобрать квартиру
                        <svg class="page-hero__btn-img"><use xlink:href="images/svg-icons.svg#arrow"/></svg>
                    </span>
                </div>
            </div>
            <div class="page-hero__scroll">
                <svg class="page-hero__icon-mouse">
                    <use xlink:href="images/svg-icons.svg#comp-mouse"/>
                </svg>
            </div>
        </div>
        <div class="page-eggs-wrapper">
            <div class="page-eggs__wrapper-inner">
                <div class="page-eggs">
                    <div class="page-eggs__item">
                        <div class="page-eggs__icon-wrapper">
                            <svg class="page-eggs__icon page-eggs__icon--room">
                                <use xlink:href="images/svg-icons.svg#room"/>
                            </svg>
                        </div>
                        <p class="page-eggs__txt">Квартиры от 1,7 млн рублей</p>
                    </div>
                    <div class="page-eggs__item">
                        <div class="page-eggs__icon-wrapper">
                            <svg class="page-eggs__icon page-eggs__icon--puzzle">
                                <use xlink:href="images/svg-icons.svg#puzzle"/>
                            </svg>
                        </div>
                        <p class="page-eggs__txt">Уникальные форматы жилья</p>
                    </div>
                    <div class="page-eggs__item">
                        <div class="page-eggs__icon-wrapper">
                            <svg class="page-eggs__icon page-eggs__icon--patheon">
                                <use xlink:href="images/svg-icons.svg#patheon"/>
                            </svg>
                        </div>
                        <p class="page-eggs__txt">Классическая архитектура</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="projects">
            <div class="projects__inner">
                {% include "../components/section/section-title.twig" with {
                    "classes": "projects",
                    "title": "НАША ГОРДОСТЬ",
                    "num": "01"
                } %}
                <div class="projects__section-contain section-contain">
                    <div class="projects-list owl-carousel" id="projects-slider">
                        {% include "../components/projects/projects-card.twig" with {
                            "classes": "projects__project-card",
                            "img": "images/projects/laykovo.jpg",
                            "title": "ЖК Лайково",
                            "area": "от 1,7 млн руб.",
                            "txt": "12 км по Рублево-Успенскому шоссе"
                        } %}
                        {% include "../components/projects/projects-card.twig" with {
                            "classes": "projects__project-card",
                            "img": "images/projects/city.jpg",
                            "title": "ЖК Видный город",
                            "area": "от 1,8 млн руб.",
                            "txt": "10 км от МКАД по Варшавскому шоссе"
                        } %}
                        {% include "../components/projects/projects-card.twig" with {
                            "classes": "projects__project-card",
                            "img": "images/projects/lecoberejnyi.jpg",
                            "title": "ЖК Лесобережный",
                            "area": "от 1,7 млн руб.",
                            "txt": "10 км по Новорижскому шоссе  "
                        } %}
                        {% include "../components/projects/projects-card.twig" with {
                            "classes": "projects__project-card",
                            "img": "images/projects/mitino.jpg",
                            "title": "ЖК Митино О2",
                            "area": "от 2 млн руб.",
                            "txt": "15 км по Пятницкому шоссе"
                        } %}
                    </div>
                    <div class="projects-list__progress">
                    </div>
                </div>
            </div>
        </div>
        <div class="stocks">
            <div class="stocks__inner">
                {% include "../components/section/section-title.twig" with {
                    "classes": "stocks",
                    "title": "АКЦИИ",
                    "num": "02"
                } %}
                <div class="stocks__section-contain section-contain">
                    <div class="stocks__list">
                        <div class="stocks__col">
                            {% include "../components/stocks/stocks-card.twig" with {
                                "classes": "stocks__stocks-card stocks-card--1",
                                "img": "images/stocks/3.jpg",
                                "title": "Легкий старт",
                                "txt": "Скидка 20% на однокомнатные квартиры и однокомнатные квартиры-студии.",
                                "date": "1 апреля — 30 апреля"
                            } %}
                            {% include "../components/stocks/stocks-card.twig" with {
                                "classes": "stocks__stocks-card stocks-card--2",
                                "img": "images/stocks/2.jpg",
                                "title": "Рассрочка от VTB",
                                "txt": "Рассрочка 0%! при содействии финансового партнера – Система лизинг 24 (АО)",
                                "date": "1 апреля — 30 апреля"
                            } %}
                            {% include "../components/stocks/stocks-card.twig" with {
                                "classes": "stocks__stocks-card stocks-card--3",
                                "img": "images/stocks/5.jpg",
                                "title": "Редкая удача",
                                "txt": "Только в апреле в ЖК «Лайково» действует скидка 18% на квартиры редкого формата из ограниченного списка.",
                                "date": "1 апреля — 30 апреля"
                            } %}
                        </div>
                        <div class="stocks__col">
                            {% include "../components/stocks/stocks-card.twig" with {
                                "classes": "stocks__stocks-card stocks-card--4",
                                "img": "images/stocks/4.jpg",
                                "title": "Двойное счастье",
                                "txt": "Удваиваем материнский капитал.<br/>Экономия 453 026 руб. Х 2 = 906 052 руб!",
                                "date": "1 апреля — 30 апреля"
                            } %}
                            {% include "../components/stocks/stocks-card.twig" with {
                                "classes": "stocks__stocks-card stocks-card--5",
                                "img": "images/stocks/1.jpg",
                                "title": "Военная ипотека",
                                "txt": "Покупая квартиру в ЖК «Лайково» по военной ипотеке в Urban Group, вы получаете скидку 8%.",
                                "date": "1 апреля — 30 апреля"
                            } %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="video-presentation">
            <div class="video-presentation__inner">
                {% include "../components/section/section-title.twig" with {
                    "classes": "video-presentation",
                    "title": "ВИДЕО-ПРЕЗЕНТАЦИЯ",
                    "num": "03"
                } %}
                <div class="video-presentation__section-contain section-contain">
                    <div class="video-presentation__tabs-wrapper"  id="video-presentation-tabs">
                        <div class="video-presentation__tabs js-tabs">
                            <div class="video-presentation__tabs-list js-tabs-list">
                                <div class="video-presentation__tabs-item">
                                    <p>ЖК Лайково</p>
                                </div>
                                <div class="video-presentation__tabs-item">
                                    <p>ЖК Видный город</p>
                                </div>
                                <div class="video-presentation__tabs-item">
                                    <p>ЖК Лесобережный</p>
                                </div>
                                <div class="video-presentation__tabs-item">
                                    <p>ЖК Митино О2</p>
                                </div>
                            </div>
                            <span class="btn btn--primary video-presentation__tab-btn">Подобрать квартиру</span>
                        </div>
                        <div class="video-presentation__contain js-tabs-contain">
                            <div class="video-presentation__contain-list js-tabs-contain-list">
                                <div class="video-presentation__contain-item">
                                    <iframe class="video-presentation__video" name="X-Frame-Options"
                                            src="https://www.youtube.com/embed/n2ZXGqRpW1s"></iframe>
                                </div>
                                <div class="video-presentation__contain-item">
                                    <iframe class="video-presentation__video" name="X-Frame-Options"
                                            src="https://www.youtube.com/embed/n2ZXGqRpW1s"></iframe>
                                </div>
                                <div class="video-presentation__contain-item">
                                    <iframe class="video-presentation__video" name="X-Frame-Options"
                                            src="https://www.youtube.com/embed/n2ZXGqRpW1s"></iframe>
                                </div>
                                <div class="video-presentation__contain-item">
                                    <iframe class="video-presentation__video" name="X-Frame-Options"
                                            src="https://www.youtube.com/embed/n2ZXGqRpW1s"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery">
            <div class="gallery__inner">
                {% include "../components/section/section-title.twig" with {
                    "classes": "gallery",
                    "title": "ГАЛЕРЕЯ",
                    "num": "04"
                } %}
                <div class="gallery__section-contain section-contain">
                    <div class="gallery-slider">
                        <div class="gallery-slider__list owl-carousel" id="gallery-slider">
                            {% for 1 in 1..5 %}
                                <div class="gallery-slider__item">
                                    <span class="gallery-slider__item-label">
                                        <span class="gallery-slider__item-label-inner">
                                            ЖК Митино О2
                                        </span>
                                    </span>
                                    <div class="gallery-slider__img">
                                        <img src="images/gallery/1.jpg" alt="">
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="gallery-slider__nav">
                            <span class="gallery-slider__prev" id="gallery-slider-prev"></span>
                            <span class="gallery-slider__next" id="gallery-slider-next"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="location">
            <div class="location__inner">
                {% include "../components/section/section-title.twig" with {
                    "classes": "location",
                    "title": "РАСПОЛОЖЕНИЕ",
                    "num": "05"
                } %}
                <div class="location__section-contain section-contain">
                    <div class="location-map" id="location-map"></div>
                </div>
            </div>
        </div>
        <div class="mortgage">
            <div class="mortgage__inner">
                {% include "../components/section/section-title.twig" with {
                    "classes": "mortgage",
                    "title": "URBAN ИПОТЕКА",
                    "num": "06"
                } %}
                <div class="mortgage__section-contain section-contain">
                    <div class="mortgage__callback-block">
                        <p class="mortgage__txt">С сервисом URBAN ИПОТЕКА ваша заявка на ипотеку будет направлена
                            в более 10 банков-партнеров, которые будут бороться за ваше внимание, предлагая вам
                            лучшие
                            ставки. А вам останется только принять
                            решение в пользу одного из них.</p>
                        <div class="mortgage__callback-btn-wrapper">
                            <a href="#" class="btn btn--primary btn--std mortgage__callback-btn">Заполнить заявку</a>
                        </div>
                    </div>
                    <div class="mortgage__table table">
                        {% for 1 in 1..4 %}
                            <div class="table-row">
                                <div class="table-cell">
                                    <img src="images/banks/sber.png" alt="" class="mortgage-table__img">
                                </div>
                                <div class="table-cell">
                                    <p class="mortgage__table-title">Ставка:</p>
                                    <p class="mortgage__table-val">от 7,4%</p>
                                </div>
                                <div class="table-cell">
                                    <p class="mortgage__table-title">Первоначальный взнос:</p>
                                    <p class="mortgage__table-val">от 15%</p>
                                </div>
                                <div class="table-cell">
                                    <p class="mortgage__table-title">Срок кредитования:</p>
                                    <p class="mortgage__table-val">до 7 лет</p>
                                </div>
                                <div class="table-cell">
                                    <a href="#" class="btn btn--third btn--std">Подробнее</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="about">
            <div class="about__inner">
                {% include "../components/section/section-title.twig" with {
                    "classes": "about",
                    "title": "О НАС	 В ЦИФРАХ",
                    "num": "07"
                } %}
                <div class="about__section-contain section-contain">
                    <div class="about__txt grey-txt">
                        <p>
                            С 2007 года мы создаем не просто красивые города для жизни, а настоящее пространство для
                            вдохновения и развития. Визитная карточка проектов компании – авторская архитектура в стиле
                            современной классики, полный городской комфорт в сочетании с расположением в лучших
                            природных локациях и разнообразие на всех уровнях.
                        </p>
                    </div>
                    <div class="about__list">
                        <div class="about__col">
                            {% include "../components/about/about-card.twig" with {
                                "icon": "medal",
                                "classImg": "about-card__img--medal",
                                "txt": "<span>10</span> лет на рынке <br/> недвижимости "
                            } %}
                        </div>
                        <div class="about__col">
                            {% include "../components/about/about-card.twig" with {
                                "icon": "city",
                                "classImg": "about-card__img--city",
                                "txt": "<span>4</span> реализованных <br/> проекта",
                            } %}
                        </div>
                        <div class="about__col">
                            {% include "../components/about/about-card.twig" with {
                                "icon": "person",
                                "classImg": "about-card__img--person",
                                "txt": "<span>93%</span> клиентов <br/> рекомендуют нас",
                            } %}
                        </div>
                        <div class="about__col">
                            {% include "../components/about/about-card.twig" with {
                                "icon": "meat",
                                "classImg": "about-card__img--meat",
                                "txt": "<span>250</span> квалифицированных <br/> сотрудник",
                            } %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="news">
            <div class="news__inner">
                {% include "../components/section/section-title.twig" with {
                    "classes": "news",
                    "title": "НОВОСТНОЙ БЛОГ",
                    "num": "08"
                } %}
                <div class="news__section-contain section-contain">
                    <div class="news__list">
                        {% include "../components/news/news-item.twig" with {
                            "img": "images/news1.jpg",
                            "title": "Гвоздь, изумруд и правая нога: Urban Group составила подборку домашних примет, в которые верят знаменитости. ",
                            "txt": "Одно из самых странных персональных суеверий – вера в обязательное невезение в пятницу, 13-го. Некоторые люди считают, что в такие дни несчастья преследуют их по пятам. Они отказываются принимать важные решения и совершать крупные... сделки. ",
                            "date": "13.04.2018"
                        } %}
                        {% include "../components/news/news-item.twig" with {
                            "img": "images/news2.jpg",
                            "title": "В Подмосковье согласован план ландшафтного проекта «Пятьдесят оттенков космоса». ",
                            "txt": "В Московской области появится сиреневая аллея «Пятьдесят оттенков космоса». Авторский дизайн-проект озеленения разработан главным архитектором по благоустройству и ландшафту компании Urban Group и будет реализована в...",
                            "date": "13.04.2018"
                        } %}
                    </div>
                </div>
            </div>
        </div>
        {#<div class="callback-inline">#}
            {#<div class="callback-inline__inner">#}
                {#{% include "../components/section/section-title.twig" with {#}
                    {#"classes": "callback-inline",#}
                    {#"title": "СВЯЖИТЕСЬ С НАМИ",#}
                    {#"num": "09"#}
                {#} %}#}
                {#<div class="callback-inline__section-contain section-contain">#}
                    {#<div class="callback-inline__overlay"></div>#}
                    {#<form class="callback-inline-form callback-inline__callback-inline-form">#}
                        {#<div class="callback-inline-form__list">#}
                            {#<div class="input-block">#}
                                {#<input type="text" class="input" title="callback-inline-name" placeholder="Ваше имя">#}
                            {#</div>#}
                            {#<div class="input-block">#}
                                {#<input type="tel" class="input js-phone-mask" title="callback-inline-phone" placeholder="Телефон">#}
                            {#</div>#}
                            {#<div class="input-block">#}
                                {#<select name="" id="callback-inline-select" title="callback-inline-select"></select>#}
                            {#</div>#}
                        {#</div>#}
                        {#<button type="submit" class="btn btn--primary btn--fluid btn--std">Отправить</button>#}
                    {#</form>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {% include "../components/callback/callback.twig" %}
        {% include "../components/menu/menu.twig" %}
    </main>
{% endblock %}