<div class="news-item">
    <div class="news-item__img">
        <img src="{{ img }}" alt="">
        <span class="news-item__date">
                {{ date }}
        </span>
    </div>
    <div class="news-item__info">
        <p class="news-item__title">{{ title }}</p>
        <p class="news-item__txt">{{ txt }}</p>
        <a href="#" target="_blank" rel="noopener" class="btn btn--third btn--std">Подробнее</a>
    </div>
</div>