.news-item
  display: flex
  justify-content: space-between
  &:not(:first-child)
    margin-top: 63px
  &:nth-child(odd)
    flex-direction: row-reverse
  &:nth-child(even)
    .news-item__date
      left: 0
      justify-content: flex-start
      padding-left: 40px
  .btn
    margin-top: 20px

.news-item__img
  position: relative
  img
    width: 100%
    height: 100%
    object-fit: cover

.news-item__info
  width: calc(100% - 717px)


.news-item__title
  font-family: $font-second
  font-weight: 700
  color: #000000
  font-size: 24px
  line-height: 36px


.news-item__txt
  color: $grey
  font-size: 18px
  font-weight: 400
  line-height: 28px
  margin-top: 35px
  display: block

.news-item__date
  position: absolute
  bottom: 25px
  right: 0
  color: $blue
  font-family: $font-second
  font-size: 20px
  font-weight: 700
  line-height: 58px
  background-color: #fff //wdw
  display: flex
  align-items: center
  justify-content: flex-end
  padding-right: 40px
  width: 225px
  height: 45px
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2)


.news-item__date-inner
  position: relative
  width: 100%
  //&:before
    content: ""
    position: absolute
    left: 0
    transform: translateX(100%)
    border-right: 0
    bottom: 0
    border-right: 30px solid transparent
    border-top: 30px solid #fff
    border-bottom: 30px solid transparent
    border-left: 30px solid #fff