input
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  line-height: initial
  font-family: $font-base
  &.input
    height: 50px
    border-radius: 0 !important
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    width: 100%
    transition-property: border, background, color, box-shadow, padding
    transition: all 0.2s linear

    font-size: 15px
    outline: 0
    padding: 0 15px

.input-block
  &:not(:first-child)
    margin-top: 16px


textarea
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  width: 100%
  resize: none
  transition-property: border, background, color, box-shadow, padding
  transition: all 0.2s linear
  font-size: 15px
  outline: 0
  padding: 15px
  background-color: #f0f1f3
  border: 1px solid transparent
  &:focus, &:active
    outline: 0
    box-shadow: 0 1px 4px rgba(209, 61, 115, 0.3)
    border: 1px solid $brand
  &:hover
    box-shadow: 0 1px 4px rgba(209, 61, 115, 0.3)
  &:disabled
    .input-block__abs-label
      color: #d2d2d2



