<footer class="page-footer">
    <div class="page-footer__inner">
        <div class="page-footer__logo-wrapper">
            <svg class="page-footer__logo"><use xlink:href="images/svg-icons.svg#logo-urban"/></svg>
            <p class="page-footer__copyright">© ГДЕЭТОТДОМ.РУ 2018</p>
        </div>
        <div class="page-footer__nav">
            <a href="#" class="page-footer__nav-link js-scrollScreen">Главная</a>
            <a href="#" class="page-footer__nav-link js-scrollScreen">Наши проекты</a>
            <a href="#" class="page-footer__nav-link js-scrollScreen">Акции</a>
            <a href="#" class="page-footer__nav-link js-scrollScreen">Видео-презентация</a>
            <a href="#" class="page-footer__nav-link js-scrollScreen">Галерея</a>
            <a href="#" class="page-footer__nav-link js-scrollScreen">Расположение</a>
            <a href="#" class="page-footer__nav-link js-scrollScreen">Urban-ипотека</a>
            <a href="#" class="page-footer__nav-link js-scrollScreen">О нас</a>
            <a href="#" class="page-footer__nav-link js-scrollScreen">Новости</a>
        </div>
    </div>
</footer>