<header class="page-header" id="page-header">
    <div class="logo-panel">
        <div class="logo-panel__inner">
            <div class="logo-panel__left">
                <svg class="icon-logo logo-panel__icon-logo"><use xlink:href="images/svg-icons.svg#logo-urban"/></svg>
                <p class="logo-panel__title">Наши города для жизни </p>
            </div>
            <div class="logo-panel__right">
                <a href="tel:+74953204165" class="logo-panel__phone">
                    <i class="logo-panel__phone-icon"></i>
                    +7 (495) 320-41-65
                </a>
                <span class="btn btn--secondary btn--std logo-panel__callback-btn">Заказать звонок</span>
                <span id="burger" class="burger">
                <span class="burger-itm"></span>
                <span class="burger-itm"></span>
                <span class="burger-itm"></span>
            </span>
            </div>
        </div>
    </div>
</header>