<!--build:js js/vendor.js-->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="node_modules/lodash/lodash.min.js"></script>
<script src="node_modules/machina/lib/machina.min.js"></script>
<!--bower:js-->
<!--endbower-->
<!--endbuild-->

<script  src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<!--build:js js/common.js-->
<script  src="js/YaMap.js"></script>
<script src="js/es5/app.js"></script>
<script src="self-comp/tabs/tabs.js"></script>
<!--endbuild-->
